<div class="text-center">
  <h2>Welcome 
    <p><%=  current_user.email%> to your Dashboard</p>
  </h2>
  <div class="dashboard-card">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <h6 class="counter" ><%= @developer_project %></h6>             
      </div>
    </div>
  </div>
