<div class="container">
  <h1 class="title">My Profile</h1>
  <div>
    <ul id="user-profile" class="list-group">
      <li class="list-group-item">Your Email: <b><%= current_user.email %></b></li>
      <li class="list-group-item">Your Role: <b><%= current_user.role.name %></b></li>
    </ul>
  </div>
</div>
