<div class="col-lg-12">
 <% @developer_project.each do |project| %>
    <div class="projects-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Created by</th>
            <th scope="col">Developers</th>
            <th scope="col">QA</th>
            <% if current_page?('/projects') %>
              
            <% else %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= project.project.name %></td>
            <td><%= project.project.created_by.email %></td>
            <td><%= project.project.developers.pluck(:email) %></td>
            <td><%= project.project.qa.email%></td>
            <td><% if current_page?('/projects') %>
              <% else %>
              <% end %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
