<div class="container">
  <div id="projects">
    <div class="row">
      <% if current_user.role_id = 2 %>
      <% @manager_project.each do |project| %>
        <%= render project %>
      <% end %>
      <% end %>
      <% if current_user.role_id = 3 %>
      <% @qa_project.each do |project| %>
        <%= render project %>
      <% end %>
      <% end %>
       <% if current_user.role_id = 1 %>
        <%= render 'projects/developerproject' %>
      <% end %>
      <% if policy(@projects).new? %>
        <div class="text-center">
          <%= link_to "New project", new_project_path , class: 'btn btn-outline-dark'%>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>
