<div class="container">
  <div id="projects">
    <div class="row">
      <% @projects.each do |project| %>
        <%= render project %>
      <% end %>
      <% if policy(@projects).new? %>
        <div class="text-center">
          <%= link_to "New project", new_project_path , class: 'btn btn-outline-dark'%>
        </div>
      <% end %>
      <br>
    </div>
  </div>
</div>
