/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Body */

body {
  font-family: "Nunito", sans-serif;
}
h1,
h2 {
  color: #ff571f !important;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
h2 p {
  color: #5e5e5e !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
}
.input-group {
  height: 40px;
}
.title {
  text-align: center;
}

.form-label {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 5px;
}
.form-control {
  border-radius: 10px;
}

table {
  border: 1px solid black;
  table-layout: fixed;
    word-wrap: break-word;
}
td {
  width: 100px;
  margin: 5px;
  overflow-y: auto;
}
.card {
  border: none;
}

/* Errors */

p.flash-error {
  color: darkred;
}

p.flash-correct {
  color: darkgreen;
}

/* Navbar */
.nav-item,
.nav-link {
  color: #ff571f !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  position: relative;
  opacity: 0.9;
}
.navbar-brand {
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-nav {
  margin-left: auto;
}

/* Footer */

.footer-headings {
  color: #ff571f !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.text-muted {
  color: rgb(83, 81, 81) !important;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  text-decoration: none;
}
.text-muted:hover {
  color: rgb(27, 27, 27) !important;
}

/* Home Page */
.home-heading {
  color: #ff571f !important;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 45px !important;
  letter-spacing: 1px;
}
.home-container {
  margin-top: 35px;
}

/* Assign and Complete Button in Fixes */
.assign-btn,
.completed-btn {
  background-color: #e1ecf4;
  border-radius: 3px;
  border: 1px solid #7aa7c7;
  box-shadow: rgba(255, 255, 255, 0.7) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #39739d;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", "Liberation Sans",
    sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px 0.8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.assign-btn:hover,
.assign-btn:focus,
.completed-btn:hover,
.completed-btn:focus {
  background-color: #b3d3ea;
  color: #2c5777;
}

.assign-btn:focus,
.completed-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, 0.15);
}

/* Error Message */

.error-message {
  background-color: #ff571f;
  display: inline-block;
  color: white;
  padding: 8px;
  border: solid 1.5px ff571f;
  border-radius: 5px;
  margin: 2px;
  opacity: 0.75;
}

/* Fixes Card */
.fixes {
  color: rgb(54, 54, 54);
  border-radius: 5px;
  border: solid 1px #cccccc;
  font-family: "Poppins", sans-serif;
}

.fixes:hover {
  box-shadow: #f78159 0px 7px 29px 0px;
}

/* Projects Cards */

.projects-container {
  margin: 50px;
}
.section h4 {
  color: #ff571f !important;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin: 50px 50px;
}
.checkbox-inline,
.checkbox {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  margin: 3px;
}

.dashboard-card {
  border: solid rgb(187, 184, 184) 1px;
  display: inline-block;
  border-radius: 20px;
  padding: 20px;
  background: #fff;
  font-size: 16px;
  box-shadow: 0 0 10px 10px #f0f0f0;
}

.dashboard-card:hover {
  box-shadow: #f78159 0px 7px 29px 0px;
  color: #ff571f;
}
.card-title{
  font-weight: bold;
}
/* Buttons */
.btn {
  padding: 5px 15px;
  outline: none;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.5px;
  transition: all 0.3s;
  font-weight: 600;
  border-radius: 6px;
  margin-top: 10px;
}
.btn-warning {
  background-color: #ff571f !important;
  border: 1px solid #ff571f !important;
  color: #fff !important;
  box-shadow: 0 3px 5px 0 rgb(255 193 67 / 30%);
  opacity: 0.8;
}
.btn-warning:hover {
  background-color: #ff571f !important;
  opacity: 1;
}

.links {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.links:hover {
  text-decoration: none;
  color: black;
  opacity: 0.8;
}

/* Profile */

.profile {
  padding: auto;
  margin: 0 100px;
}

/* Navbar Hover on Big Screen only */

@media only screen and (min-width: 768px) {
  .nav-link:hover {
    color: #ff571f !important;
    opacity: 1;
  }

  .nav-link::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #ff571f;
  }

  .nav-link::before {
    width: 0%;
    bottom: 5px;
  }

  .nav-link:hover::before {
    width: 80%;
  }
}
